<!doctype html>
<html>
<head>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Pr&eacutedios Inteligentes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <br/>
        <h1>Cadastros</a></h1>
        <a href="/veiculos" class="btn btn-primary">Veiculos</a>
        <a href="/clientes" class="btn btn-primary">Clientes</a>
        <a href="/equipamentos" class="btn btn-primary">Equipamentos</a>
        <br/> 
    </div>

</body>
</html>
