<div class="container-fluid">
	<h1 align="center">Cadastro de Um Novo Equipamento</h1>
	<form ng-app="sa_insert" ng-controller="insertCrtl" ng-submit="insert()">
		<div class="form-group">
                <label>Name</label><input type="text" name="name" ng-model="name" class="form-control" required><br/>
                <label>Type</label><input type="text" name="type" ng-model="type" class="form-control" required><br/>
                <label>Location</label><input type="text" name="location" ng-model="location" class="form-control" required><br/>
                <input type="submit" name="insert" class="btn btn-success" value="Insert">
		</div>
	</form>
</div>
